aniso8601==8.0.0
appnope==0.1.2
backcall==0.2.0
boto3==1.22.0
botocore==1.25.0
cachetools==4.2.4
camelot-py==0.10.1
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
colorful==0.5.4
cryptography==36.0.2
cycler==0.11.0
decorator==5.1.1
et-xmlfile==1.1.0
Flask==1.1.2
flask_cors
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
fonttools==4.33.3
ghostscript==0.7
google-api-core==2.7.1
google-auth==2.6.2
google-cloud-vision==2.7.2
googleapis-common-protos==1.56.0
greenlet==1.1.2
grpcio==1.45.0
grpcio-status==1.45.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.3
ipython==7.16.3
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.3
jmespath==1.0.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.5.1
numpy==1.19.5
opencv-python-headless==4.5.5.64
openpyxl==3.0.9
packaging==21.3
pandas
parso==0.7.1
pdfminer.six==20220319
pdfplumber==0.6.1
pdfrw==0.4
pdftopng==0.2.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
prettyprinter==0.18.0
prompt-toolkit==3.0.28
proto-plus==1.20.3
protobuf==3.19.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.7
PyPDF2==1.27.9
python-dateutil==2.8.2
pytz==2020.1
regex==2022.4.24
requests==2.27.1
requests-toolbelt==0.9.1
rsa==4.8
s3transfer==0.5.2
six==1.15.0
SQLAlchemy==1.3.18
tabulate==0.8.9
textdistance==4.2.2
traitlets==4.3.3
typing_extensions==4.1.0
urllib3==1.26.9
Wand==0.6.7
wcwidth==0.2.5
Werkzeug==2.0.2
zipp==3.6.0
